<div id='mycarousel' class='carousel slide'>
  <div class='carousel-inner'>
    <div class="item active">
      <%= image_tag '1.jpg' %>
      <div class='container'>
        <div class='carousel-caption'>
          <h1>Move List</h1>
          <p class='lead'>
            List of the best films on our site. And also reviews movies and reviews
          </p>
          <a class='btn btn-large btn-primary' href='#'>Read more</a>
        </div>
      </div>
    </div>
    <div class="item">
      <%= image_tag '2.jpg' %>
      <div class='container'>
        <div class='carousel-caption'>
          <h1>Anime List</h1>
          <p class='lead'>
            List of the best anime on our site. And also reviews movies and reviews
          </p>
          <a class='btn btn-large btn-primary' href='#'>Learn more</a>
        </div>
      </div>
    </div>
    <div class="item">
      <%= image_tag '3.jpg' %>
      <div class='container'>
        <div class='carousel-caption'>
          <h1>Gallery List</h1>
          <p class='lead'>
            Сan see photos of celebrities, and photographs on the set of films or the anime
          </p>
          <a class='btn btn-large btn-primary' href='#'>Browse gallery</a>
        </div>
      </div>
    </div>
  </div>
  <a class="carousel-control left" href="#mycarousel" data-slide="prev"><</a>
  <a class="carousel-control right" href="#mycarousel" data-slide="next">></a>
</div>
