<footer>
  <div class="footer-inner">
    <ul class="delist social-links">
      <li class="social-twitter">
        <a target="new" rel="nofollow" href="https://twitter.com/intent/user?screen_name=glasgowgrill">
          <span>Twitter</span>
        </a>
      </li>
      <li class="social-facebook">
        <a target="new" rel="nofollow" href="https://www.facebook.com/thegrillonthecorner.glasgow">
          <span>Facebook</span>
        </a>
      </li>
    </ul>
  </div>
</footer>