<div class="header_wrapper">
  <div class="header_wrapper_inside">
    <div id="user_menu_u" class="user_menu">
      <a id="user_menu_trigger" class="menu_user_tools dropdown" data-toggle="dropdown">
        <i class="fa fa-bars"></i>
      </a>
      <div class="submit_action">Submit Property</div>
    </div>
    <div id="user_menu_open" class="dropdown-menu" style="display: block;">
      <div class="login_sidebar">
        <h3 id="login-div-title-topbar" class="widget-title-sidebar">Login</h3>
        <div id="login-div_topbar" class="login_form">
          <div id="login_message_area_topbar" class="loginalert"> </div>
          <button id="wp-login-but-topbar" class="wpb_button wpb_btn-info wpb_btn-large">Login</button>
          <div class="login-links">
            <a id="widget_register_topbar" href="#">Need an account? Register here!</a>
            <div id="facebookloginsidebar_topbar" data-social="facebook"></div>
            <div id="googleloginsidebar_topbar" data-social="google"></div>
            <div id="yahoologinsidebar_topbar" data-social="yahoo"></div>
          </div>
        </div>
        <h3 id="register-div-title-topbar" class="widget-title-sidebar">Register</h3>
        <div id="register-div-topbar" class="login_form">
          <div id="register_message_area_topbar" class="loginalert"></div>
          <p id="reg_passmail_topbar">A password will be e-mailed to you</p>
          <button id="wp-submit-register_topbar" class="wpb_button wpb_btn-info wpb_btn-large">Register</button>
          <div class="login-links">
            <a id="widget_login_topbar" href="#">Back to Login</a>
          </div>
        </div>
      </div>
    </div>
    <nav id="access" role="navigation">
      <div class="menu-main-menu-container">
    </nav>
    </div>
  </div>
</div>
