/*
*= require bootstrap_and_overrides
*= require carousel
*= require footer
*= 
*/

html, body {
  margin: 0;
  padding: 0;
  background: White;
  color: DarkSlateGrey;
  font-family: Tahoma, Verdana, sans-serif;
  font-size: 10pt;
}
div#main {
  margin: 0;
  padding: 0 20px;
}
h1 {
  color: maroon;
  font-size: 150%;
  font-style: italic;
  display: block;
  width: 100%;
}
h2.title {
  font-size: 19px;
  line-height: 20px;
}
table#movies {
  border-collapse: collapse;
  width: 100%;
  border-bottom: 2px solid black;
  th {
    border: 2px solid white;
    font-weight: bold;
    background-color: wheat;
  }
  tr:nth-child(2n+1) {
    background: #f2f2f2;
  }
  th, td {
    padding: 4px;
    text-align: left;
  }
  th .current {
    padding-right: 12px;
    background-repeat: no-repeat;
    background-position: right center;
  }
  th .asc {
    background-image: url(image_path('up_arrow.gif'));
  }
  th .desc {
    background-image: url(image_path('down_arrow.gif'));
  }
}

#notice #warning {
  background: rosybrown;
  margin: 1em 0;
  padding: 4px;
}
form label {
  display: block;
  line-height: 25px;
  font-weight: bold;
  color: maroon;
}
form input[type='text'], form textarea {
  width: 450px;
}
form textarea {
  height: 70px
}
form span.error {
  color: red;
  display: block;
  margin-bottom: 10px;
  width: 450px;
}

.marketing .span4 {
  text-align: center;
}

input[type="checkbox"] {
  cursor: pointer;
  position: relative;
  top: -3px;
}

.my-movie {
  color: red;
}
.pending {
  color: #ccc;
}
