/*
*= require bootstrap_and_overrides
*/

html, body {
  margin: 0;
  padding: 0;
  background: White;
  color: DarkSlateGrey;
  font-family: Tahoma, Verdana, sans-serif;
  font-size: 10pt;
}
div#main {
  margin: 0;
  padding: 0 20px;
}
h1 {
  color: maroon;
  font-size: 150%;
  font-style: italic;
  display: block;
  width: 100%;
}
h2.title {
  font-size: 19px;
  line-height: 20px;
}
table#movies {
  border-collapse: collapse;
  width: 100%;
  border-bottom: 2px solid black;
  th {
    border: 2px solid white;
    font-weight: bold;
    background-color: wheat;
  }
  tr:nth-child(2n+1) {
    background: #f2f2f2;
  }
  th, td {
    padding: 4px;
    text-align: left;
  }
  th .current {
    padding-right: 12px;
    /*  background-color: yellow;*/
    background-repeat: no-repeat;
    background-position: right center;
  }
  th .asc {
    background-image: url(image_path('up_arrow.gif'));
  }
  th .desc {
    background-image: url(image_path('down_arrow.gif'));
  }
}

#notice #warning {
  background: rosybrown;
  margin: 1em 0;
  padding: 4px;
}
form label {
  display: block;
  line-height: 25px;
  font-weight: bold;
  color: maroon;
}
form input[type='text'], form textarea {
  width: 450px;
}
form textarea {
  height: 70px
}
form span.error {
  color: red;
  display: block;
  margin-bottom: 10px;
  width: 450px;
}

.marketing .span4 {
  text-align: center;
}

input[type="checkbox"] {
  cursor: pointer;
  position: relative;
  top: -3px;
}

.navbar .container {
  width: 1170px;
}

.carousel {
  margin-bottom: 60px;
  .item {
  height: 500px;
  }
  .container {
  position: relative;
  z-index: 9;
  }
}

.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel-caption {
  background-color: transparent;
  position: static;
  max-width: 350px;
  padding: 0 20px;
  margin-top: 310px;
  h1 {
    color: yellow;
  }
  .lead {
  margin: 0;
  line-height:  1.25;
  color: #fff;
  text-shadow: 0 1px 1px rgba(0, 0, 0,.4);
  }
  .btn {
  margin-top:  10px;
  }
}

.carousel-control {
  height: 80px;
  margin-top: 0;
  font-size: 90px;
  text-shadow: 0 1px 1px rgba(0,0,0,.4);
  background-color: transparent;
  border: 0;
  z-index: 100;
  left: 10px;
  top: 45%;
  &.right {
    right: 35px;
  }
}

.carousel img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}
