/*
*= require bootstrap_and_overrides
*/

html, body {
  margin: 0;
  padding: 0;
  background: White;
  color: DarkSlateGrey;
  font-family: Tahoma, Verdana, sans-serif;
  font-size: 10pt;
}
div#main {
  margin: 0;
  padding: 0 20px;
}
h1 {
  color: maroon;
  font-size: 150%;
  font-style: italic;
  display: block;
  width: 100%;
}
h2.title {
  font-size: 19px;
  line-height: 20px;
}
table#movies {
  border-collapse: collapse;
  width: 100%;
  border-bottom: 2px solid black;
  th {
    border: 2px solid white;
    font-weight: bold;
    background-color: wheat;
  }
  tr:nth-child(2n+1) {
    background: #f2f2f2;
  }
  th, td {
    padding: 4px;
    text-align: left;
  }
  th .current {
    padding-right: 12px;
    /*  background-color: yellow;*/
    background-repeat: no-repeat;
    background-position: right center;
  }
  th .asc {
    background-image: url(image_path('up_arrow.gif'));
  }
  th .desc {
    background-image: url(image_path('down_arrow.gif'));
  }
}

#notice #warning {
  background: rosybrown;
  margin: 1em 0;
  padding: 4px;
}
form label {
  display: block;
  line-height: 25px;
  font-weight: bold;
  color: maroon;
}
form input[type='text'], form textarea {
  width: 450px;
}
form textarea {
  height: 70px
}
form span.error {
  color: red;
  display: block;
  margin-bottom: 10px;
  width: 450px;
}

.marketing .span4 {
  text-align: center;
}

input[type="checkbox"] {
  cursor: pointer;
  position: relative;
  top: -3px;
}

.navbar .container {
  width: 1170px;
}

.carousel {
  margin-bottom: 60px;
  .item {
  height: 500px;
  }
  .container {
  position: relative;
  z-index: 9;
  }
}

.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel-caption {
  background-color: transparent;
  position: static;
  max-width: 350px;
  padding: 0 20px;
  margin-top: 310px;
  h1 {
    color: yellow;
  }
  .lead {
  margin: 0;
  line-height:  1.25;
  color: #fff;
  text-shadow: 0 1px 1px rgba(0, 0, 0,.4);
  }
  .btn {
  margin-top:  10px;
  }
}

.carousel-control {
  height: 80px;
  margin-top: 0;
  font-size: 90px;
  text-shadow: 0 1px 1px rgba(0,0,0,.4);
  background-color: transparent;
  border: 0;
  z-index: 100;
  left: 10px;
  top: 45%;
  &.right {
    right: 35px;
  }
}

.carousel img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}

/*
TT
*/

.user_menu {
  display: inline-block;
  float: right;
  margin-right: 45px;
  margin-top: 35px;
  color: #3C90BE;
  padding: 0px 0px 0px 0px;
  cursor: pointer;
  height: 14px;
}

.menu_user_tools {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin: 0px 5px 0px 0px;
  float: left;
  display: inline;
  cursor: pointer;
  font-size: 14px;
  color: #3C90BE;
}

.fa {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

.submit_action {
  float: right;
  display: inline;
  margin-top: 0px;
  font-size: 14px;
}

#user_menu_open {
  right: 45px;
  left: auto;
  z-index: 999999;
  top: 68px;
  border-left: 1px solid #f0f0f0!important;
  border-right: 1px solid #f0f0f0!important;
  border-bottom: 1px solid #f0f0f0!important;
  border-top: 1px solid #f0f0f0!important;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  -webkit-box-shadow: 0px 2px 0px 0px rgba(227, 228, 231, 1);
  box-shadow: 0px 2px 0px 0px rgba(227, 228, 231, 1);
  padding: 0px 0px 0px 0px;
  background-color: #fdfdfd;
  .login_form {
    border: none;
    width: 253px;
  }
  #login-div-title-topbar {
  padding-left: 12px;
  margin-bottom: 0px;
  }
  #widget_register_topbar {
  padding-left: 0px;
  }
}

#user_menu_open .login_form input[type=text], 
#user_menu_open .login_form input[type=password], 
#user_menu_open .login_form input[type=email], 
#user_menu_open .login_form input[type=url], 
#user_menu_open .login_form input[type=number],
#user_menu_open .login_form textarea {
width: 227px;
}

#wp-login-but-topbar {
  width: 227px;
  color: #fff;
  margin-bottom: 0px!important;
}

.login-links {
  margin-top: 13px;
}

#user_menu_open #widget_register_topbar {
padding-left: 0px;
}

#user_menu_open a {
  padding: 11px 15px;
  width: 100%;
  transition: none;
  -webkit-transition: none;
  font-size: 13px;
}

#facebookloginsidebar_topbar, #facebookloginsidebar {
  height: 40px;
  background-image: url('css/css-images/facebooklogin_sidebar.png');
  cursor: pointer;
  margin-top: 13px;
  background-repeat: no-repeat;
}

#googleloginsidebar_topbar, #googleloginsidebar {
  margin-top: 13px;
  height: 40px;
  background-image: url('css/css-images/googlelogin_sidebar.png');
  cursor: pointer;
  background-repeat: no-repeat;
}

#yahoologinsidebar_topbar, #yahoologinsidebar {
  margin-top: 13px;
  height: 40px;
  background-image: url('css/css-images/yahoologin_sidebar.png');
  cursor: pointer;
  background-repeat: no-repeat;
}

#user_menu_open #register-div-title-topbar, #user_menu_open #login-div-title-topbar {
  padding-left: 12px;
  margin-bottom: 0px;
}

#user_menu_open .login_form {
  border: none;
  width: 253px;
}

#reg_passmail_topbar, #reg_passmail {
  margin: 13px 0px;
  color: #768082;
  font-size: 13px;
  font-weight: normal;
  line-height: 1em;
}

#wp-submit-register_topbar, #wp-login-but-topbar {
  width: 227px;
  color: #fff;
  margin-bottom: 0px!important;
}

#user_menu_open #widget_login_topbar, #user_menu_open #widget_register_topbar {
padding-left: 0px;
}


footer {
  position: fixed;
  bottom: 4px;
  width: 100%;
  z-index: 5000;
}
.footer-inner, .slide-footer {
  max-width: 1164px;
  margin: 0 auto;
  padding: 0 59px !important;
  z-index: 1000;
  position: relative;
}

.social-links {
  float: left;
  position: relative;
  top: -12px;
  z-index: 2001;
  li {
  width: 31px;
  display: inline-block;
  zoom: 1;
  list-style-type: none !important;
  margin: 0 !important;
    a {
      transition: all 0.5s ease;
      width: 31px;
      height: 30px;
      background-image: url("http://blackhouse.uk.com/css/../images/social-sprite.png");
      display: block;
      background-repeat: no-repeat;
      a:link {
        text-decoration: none;
        color: #231f20;
      }
    }
  }
}

.social-twitter a {
  background-position: 0px -30px;
}

.social-facebook a {
  background-position: -31px -30px;
}
