footer {
  position: fixed;
  bottom: 4px;
  width: 100%;
  z-index: 5000;
}
.footer-inner, .slide-footer {
  max-width: 1164px;
  margin: 0 auto;
  padding: 0 59px !important;
  z-index: 1000;
  position: relative;
}

.social-links {
  float: left;
  position: relative;
  top: -12px;
  z-index: 2001;
  li {
    width: 31px;
    display: inline-block;
    zoom: 1;
    list-style-type: none !important;
    margin: 0 !important;
    a {
      transition: all 0.5s ease;
      width: 31px;
      height: 30px;
      background-image: url("http://blackhouse.uk.com/css/../images/social-sprite.png");
      display: block;
      background-repeat: no-repeat;
      a:link {
        text-decoration: none;
        color: #231f20;
      }
    }
  }
}

.social-twitter a {
  background-position: 0px -30px;
}

.social-facebook a {
  background-position: -31px -30px;
}

.social-twitter:hover a {
  background-position: 0 0;
}

.social-facebook:hover a {
  background-position: -31px 0;
}

.social-links li span {
  display: none;
}
