.user_menu {
  display: inline-block;
  float: right;
  margin-right: 45px;
  margin-top: 35px;
  color: #3C90BE;
  padding: 0px 0px 0px 0px;
  cursor: pointer;
  height: 14px;
}

.menu_user_tools {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin: 0px 5px 0px 0px;
  float: left;
  display: inline;
  cursor: pointer;
  font-size: 14px;
  color: #3C90BE;
}

.fa {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

.submit_action {
  float: right;
  display: inline;
  margin-top: 0px;
  font-size: 14px;
}

#user_menu_open {
  right: 45px;
  left: auto;
  z-index: 999999;
  top: 68px;
  border-left: 1px solid #f0f0f0!important;
  border-right: 1px solid #f0f0f0!important;
  border-bottom: 1px solid #f0f0f0!important;
  border-top: 1px solid #f0f0f0!important;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  -webkit-box-shadow: 0px 2px 0px 0px rgba(227, 228, 231, 1);
  box-shadow: 0px 2px 0px 0px rgba(227, 228, 231, 1);
  padding: 0px 0px 0px 0px;
  background-color: #fdfdfd;
  .login_form {
    border: none;
    width: 253px;
  }
  #login-div-title-topbar {
  padding-left: 12px;
  margin-bottom: 0px;
  }
  #widget_register_topbar {
  padding-left: 0px;
  }
}

#user_menu_open .login_form input[type=text], 
#user_menu_open .login_form input[type=password], 
#user_menu_open .login_form input[type=email], 
#user_menu_open .login_form input[type=url], 
#user_menu_open .login_form input[type=number],
#user_menu_open .login_form textarea {
  width: 227px;
}

#wp-login-but-topbar {
  width: 227px;
  color: #fff;
  margin-bottom: 0px!important;
}

.login-links {
  margin-top: 13px;
}

#user_menu_open #widget_register_topbar {
  padding-left: 0px;
}

#user_menu_open a {
  padding: 11px 15px;
  width: 100%;
  transition: none;
  -webkit-transition: none;
  font-size: 13px;
}

#facebookloginsidebar_topbar, #facebookloginsidebar {
  height: 40px;
  background-image: url('css/css-images/facebooklogin_sidebar.png');
  cursor: pointer;
  margin-top: 13px;
  background-repeat: no-repeat;
}

#googleloginsidebar_topbar, #googleloginsidebar {
  margin-top: 13px;
  height: 40px;
  background-image: url('css/css-images/googlelogin_sidebar.png');
  cursor: pointer;
  background-repeat: no-repeat;
}

#yahoologinsidebar_topbar, #yahoologinsidebar {
  margin-top: 13px;
  height: 40px;
  background-image: url('css/css-images/yahoologin_sidebar.png');
  cursor: pointer;
  background-repeat: no-repeat;
}

#user_menu_open #register-div-title-topbar, #user_menu_open #login-div-title-topbar {
  padding-left: 12px;
  margin-bottom: 0px;
}

#user_menu_open .login_form {
  border: none;
  width: 253px;
}

#reg_passmail_topbar, #reg_passmail {
  margin: 13px 0px;
  color: #768082;
  font-size: 13px;
  font-weight: normal;
  line-height: 1em;
}

#wp-submit-register_topbar, #wp-login-but-topbar {
  width: 227px;
  color: #fff;
  margin-bottom: 0px!important;
}

#user_menu_open #widget_login_topbar, #user_menu_open #widget_register_topbar {
  padding-left: 0px;
}
